<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>Splurty was built by <a target="_blank" href="https://github.com/mje1281">Max Ernst</a> as part of his first project in learning how to develop web apps.
	</p>
	<br />
	<p>In his spare time, Max likes to write, so he thought he would prepare this generator to spit out inspirational quotes for his writer friends and anyone else who happens to stumble upon it.
	</p>
	<br />
	<p>If you want to learn how to build your own version of this app, start <a target="_blank" href="http://www.thefirehoseproject.com/">here</a>.
	</p>

	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'photo1.jpg', :class => 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Max Ernst</h2>
		<br />
		<p>Max Ernst is just starting out on web development and is looking forward to making many more useful apps and websites.  In a former life he was an attorney, but has left that field for something a little more exciting.  In his spare time he likes to travel, camp, hike, be outdoors and write.
		</p>
	</div>

	<br class="clear" />
	<br />
	<br />
	<br />
	<br />



</div>